@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

body {
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #F92020;
  text-align: center;
}

a:link {
color: rgb(0,0,0);
}

a:visited {
color: #918C87;
}

a:hover {
color: #F92020;
}

a:active {
color: rgb(0,0,0);
}

nav {
  border-bottom: 1px solid #918C87;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
}

h3 {
  color: #F92020;
}

h2 {
  color: #F92020;
  font-size: 15px;
}

footer {
  font-size: 12px;
}

#wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 20%;
  border: 4px solid gray;
}

.studio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
  border: 4px solid gray;
}

.studiob {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
  color: #F92020;
  font-size: 17px;
}

.grid {
  display: grid;
  grid-template-columns: 500px 500px 350px;
  grid-template-row: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

#boxa {
  background-color: #918C87;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 100%;
}

#boxb {
  background-color: #918C87;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 100%;
}

#boxc {
  background-color: #918C87;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 100%;
}

#sportsdesk {
  font-style: italic;
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 30%;
  border: 4px solid gray;
}

#miami {
  font-style: italic;
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 30%;
  border: 4px solid gray;
}

#olympic {
  font-style: italic;
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 30%;
  border: 4px solid gray;
}

#baseball {
  font-style: italic;
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 30%;
  border: 4px solid gray;
}

#reach {
  text-align: center;
  margin-top: 100px;
}

#communication {
  font-style: italic;
}

#presidential {
  display: absolute;
  margin-left: 360px;
  margin-bottom: 10px;
  width: 50%;
  text-align: justify;
  text-align: center;
  border-left: 4px solid red;
  padding-left: 4px;
}

#scholar {
  text-align: center;
}

#september {
  font-style: italic;
}

#may {
  font-style: italic;
}

#first {
  display: absolute;
  padding: center;
}

#second {
  display: absolute;
  padding: center;
}

#third {
  display: absolute;
  padding: center;
}

#fourth {
  display: absolute;
  padding: center;
}

#bkg {
  background-image: url("../img/shoulders.png");
  background-position: 40px 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
